body{
  background-color: gray;
}

.navBar{
    background-color: blue;
    height: 25px;
    position: sticky;
    top: 0;
    margin: 0 auto;
    z-index: 100;
    border: 3px solid black;
    text-align: center;
    
  }
  
  .gameScreen{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    background-color: red;
    width: auto;
    height: 898px;
    border: 6px solid black;
    border-radius: 10px;
    opacity: 1;
    filter: brightness(50%);
  }
  @keyframes nextTurn{
    0% {opacity: 1}
    20% {opacity: 0}
    80% {opacity: 1}
    100% {opacity: 1}
  }

  @keyframes yourTurn{
    0% {opacity: 1}
    100% {opacity: 1}
  }
  
  /* Next turn button in right corner */
  .nextTurnBtn{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: green;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 11;
    text-align: center;
  }
  .gameDate{
    background-color: rgb(0, 113, 128);
    margin: 0 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gameTurn{
    background-color: rgb(69, 3, 250);
    margin-top: 0;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .theButton{
    background-color: rgb(212, 11, 212);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid rgb(126, 9, 126);

  }
  .theButton2{
    background-color: rgb(212, 11, 212);
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 50%;

  }

  .generalRescourseInformation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00aeff;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .sestertius{
    display: inline-block;
    margin: 0 auto;
  }
  .dignitas{
    display: inline-block;
    margin: 0 auto;
  }

  .food{
    display: inline-block;
    margin: 0 auto;
  }

  .resourceImg{
    width: 24px;
    height: 24px;
  }
  
  /* General information screen */
  .generalInformation{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #98B847;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 9;
  }
  
  .trainingBtnContainer{
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: purple;
    background-image: url('images/BtnContainerBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 1px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    border: 2px solid black;
  }
  .trainingBtn{
    background-color: rgb(59, 59, 235);
    border: 2px solid rgb(20, 20, 173);
    width: 24px;
    height: 24px;
    cursor: pointer;

  }


  .informationTitle{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid black;
  }

  .upgradeContainer{
    display: none;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: purple;
    background-image: url('images/BtnContainerBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 1px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    border: 2px solid black;
  }
  
  /* Buy information tooltipbar */

  .costinfo {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
  }

  .buyInformation{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid black;
    margin: 0 1px;
    text-align: center;
  }

  .costInformation{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px solid black;
    margin: 0 0px;
    background-color: #EC9313;
    color: #136CEC
  }

  .benefitInformation{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px solid black;
    margin: 0 0px;
    background-color: #136CEC;
    color: #EC9313;
  }

  /* Unitcards */

  .unitCards{
    display: flex;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px 5px 5px 5px;
    background-color: #5977A6;
    border: 3px solid black;
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  



.unitContainer{
  display: grid;
  box-shadow: 5px 5px black;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  background-color: #A68859;
  margin: 0px 5px;
  border: 3px solid black;
  justify-content: center;
  justify-items: center;
  text-align: center;

}

.unitContainer:hover{
  background-color:rgb(69, 3, 250);
}

.unitImg{
  background: url(images/unitBackground.png);
width: 50px;
height: 50px;
border: 2px solid black;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
align-items: center;
}

.unitActionImg{
  background-color: gray;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
  }

  .unitName{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .rankName{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .unitHealth{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: center;
  }

/* unit information box */
.unitStats {
  background-color: #6747B8;
  border: 3px solid black;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 11;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.barInfoBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: left;
}

.strength{
  background-image: linear-gradient(45deg, rgba(19, 163, 19, 0.8), rgba(19, 163, 19, 0.2));
  border: 3px solid rgb(12, 97, 12);
}

.cunning{ 
  background-image: linear-gradient(45deg, rgba(204, 104, 10, 0.8), rgba(204, 104, 10, 0.2));
  border: 3px solid rgb(134, 69, 8);
}

.intelligence{ 
  background-image: linear-gradient(45deg, rgba(16, 91, 204, 0.8), rgba(16, 91, 204, 0.2));
  border: 3px solid rgb(10, 54, 121);
}

.gravitas{
  background-image: linear-gradient(45deg, rgba(163, 24, 190, 0.8), rgba(163, 24, 190, 0.2));
  border: 3px solid rgb(87, 14, 102);
}

@keyframes statsGoUp{
  0% {filter: hue-rotate(0deg)}
  50% {filter: hue-rotate(360deg)}
  100% {filter: hue-rotate(0deg)}
}

@keyframes endAnimation{
  0% {filter: hue-rotate(0deg)}
  100% {filter: hue-rotate(0deg)}
}

.xpbar1{
  background-color: #63899C;
  height: 10px;
  width: 80px;
  top: 50%;
  left: 50%;
  border: 2px solid black;
}

.xpbar2{
  background-color: #327DCD;
  height: 100%;
  width: 0%;
}

.healthbar1{
  background-color: rgb(243, 107, 107);
  height: 10px;
  width: 80px;
  top: 50%;
  left: 50%;
  border: 2px solid black;
}

.healthbar2{
  background-color: #f01212;
  height: 100%;
  width: 0%;
}

.energybar1{
  background-color: #e6e787;
  height: 10px;
  width: 80px;
  top: 50%;
  left: 50%;
  border: 2px solid black;
}

.energybar2{
  background-color: #ff0e93;
  height: 100%;
  width: 0%;
}

/* building map */

.buildingMap{
  display: grid;
  grid-template-rows: repeat(20, 26px);
  grid-template-columns: repeat(40, 37px);
  background-color: green;
  border: 2px solid black;
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 7;
}

.mainCamp{
  display: grid;
  grid-template-rows: repeat(3, 26px);
  grid-template-columns: repeat(3, 37px);
  grid-column-start: 18;
  grid-column-end: 21;
  grid-row-start: 8;
  grid-row-end: 11;
}

.farm1{
  display: grid;
  grid-template-rows: repeat(2, 26px);
  grid-template-columns: repeat(3, 37px);
  grid-column-start: 24;
  grid-column-end: 27;
  grid-row-start: 14;
  grid-row-end: 17;
}

.farm2{
  display: grid;
  grid-template-rows: repeat(2, 26px);
  grid-template-columns: repeat(3, 37px);
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.house2{
  grid-column-start: 21;
  grid-column-end: 22;
  grid-row-start: 9;
  grid-row-end: 10;
}

.house3{
  grid-column-start: 16;
  grid-column-end: 17;
  grid-row-start: 12;
  grid-row-end: 13;
}

.house4{
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 16;
  grid-row-end: 17;
}

.house5{
  grid-column-start: 20;
  grid-column-end: 21;
  grid-row-start: 7;
  grid-row-end: 8;
}

.house6{
  grid-column-start: 15;
  grid-column-end: 16;
  grid-row-start: 3;
  grid-row-end: 4;
}

.house7{
  grid-column-start: 25;
  grid-column-end: 26;
  grid-row-start: 12;
  grid-row-end: 13;
}

.house8{
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 15;
}

.buildImg{
  width: 37px;
  height: 26px;
}

.blacksmith1{
  grid-column-start: 21;
  grid-column-end: 22;
  grid-row-start: 8;
  grid-row-end: 9;
}

.blacksmith2{
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 16;
  grid-row-end: 17;
}

.tanner1{
  grid-column-start: 27;
  grid-column-end: 28;
  grid-row-start: 12;
  grid-row-end: 13;
}
.tanner2{
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 14;
  grid-row-end: 15;
}
.temple1{
  grid-column-start: 17;
  grid-column-end: 18;
  grid-row-start: 12;
  grid-row-end: 13;
}
.temple2{
  grid-column-start: 23;
  grid-column-end: 24;
  grid-row-start: 9;
  grid-row-end: 10;
}
.latrine1{
  grid-column-start: 16;
  grid-column-end: 17;
  grid-row-start: 11;
  grid-row-end: 12;
}
.latrine2{
  grid-column-start: 18;
  grid-column-end: 19;
  grid-row-start: 7;
  grid-row-end: 8;
}
.mint1{
  grid-column-start: 25;
  grid-column-end: 26;
  grid-row-start: 13;
  grid-row-end: 14;
}
.mint2{
  grid-column-start: 17;
  grid-column-end: 18;
  grid-row-start: 14;
  grid-row-end: 15;
}
.merchant1{
  grid-column-start: 18;
  grid-column-end: 19;
  grid-row-start: 14;
  grid-row-end: 15;
}
.merchant2{
  grid-column-start: 23;
  grid-column-end: 24;
  grid-row-start: 10;
  grid-row-end: 11;
}
.arena{
  display: grid;
  grid-template-rows: repeat(2, 26px);
  grid-template-columns: repeat(2, 37px);
  grid-column-start: 16;
  grid-column-end: 18;
  grid-row-start: 3;
  grid-row-end: 5;
}

.academia1{
  grid-column-start: 21;
  grid-column-end: 22;
  grid-row-start: 10;
  grid-row-end: 11;
}

.academia2{
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 14;
    grid-row-end: 15;
}

.workshop1{
  grid-column-start: 18;
  grid-column-end: 19;
  grid-row-start: 6;
  grid-row-end: 7;
}

.workshop2{
  grid-column-start: 25;
  grid-column-end: 26;
  grid-row-start: 10;
  grid-row-end: 11;
}

.armorStorage1{
  grid-column-start: 23;
  grid-column-end: 24;
  grid-row-start: 8;
  grid-row-end: 9;
}

.armorStorage2{
  grid-column-start: 21;
  grid-column-end: 22;
  grid-row-start: 7;
  grid-row-end: 8;
}

.forester1{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 11;
}

.forester2{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 13;
}

.miner1{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 12;
  grid-row-end: 13;
}

.miner2{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 14;
  grid-row-end: 15;
}

.forester3{
  grid-column-start: 29;
  grid-column-end: 30;
  grid-row-start: 12;
  grid-row-end: 13;
}

.forester4{
  grid-column-start: 22;
  grid-column-end: 23;
  grid-row-start: 14;
  grid-row-end: 15;
}

.miner3{
  grid-column-start: 21;
  grid-column-end: 22;
  grid-row-start: 14;
  grid-row-end: 15;
}

.miner4{
  grid-column-start: 25;
  grid-column-end: 26;
  grid-row-start: 9;
  grid-row-end: 10;
}

/* turnInformation */
.turnInformation{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: teal;
  background-image: url('images/nextTurnInformationBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 10;
}

.changeResourceContainer{
  display: none;
  background-color: #9aa857;
  border: 3px solid rgb(21, 90, 21);
  background-image: url('images/resourceChangeBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 0px;
  width: 80%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

@keyframes resourceAfterNextTurn{
  0%{transform: translateY(200px); 
    opacity: 0.1}
  100%{transform: translateY(0px); 
    opacity: 1}
}

@keyframes resource2{
  0%{ opacity: 1}
  50%{ opacity: 0.5}
  100%{ opacity: 0}
}

/* popupScreen   */

.popupScreen{
  display: flex;
  flex-direction: row;
  z-index: 900;
  background-color: orange;
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -150px;
}

@keyframes popupScreenFadeout {
  0%{opacity: 1}
  100%{opacity: 0;
  transform: translateY(-150px);}
}

@keyframes popupScreenFadein {
0%{opacity: 0;
transform: translateY(150px);}
100%{opacity: 1}
}

.popupBlock1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(138, 170, 49);
  border: 3px solid rgb(89, 110, 31);
  margin: 0 0;
  padding: 0 0;
  width: 25%;
  height: 100%;
}
.popupBlock2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: violet;
  border: 3px solid rgb(110, 53, 110);
  margin: 0 0;
  padding: 0 0;
  width: 75%;
  height: 100%;
}

.popupImg{
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

.nameFlex{
  display: flex;
}

.popupBlock3{
  display: none;
  flex-direction: column;
  background-color: violet;
  border: 3px solid rgb(110, 53, 110);
  margin: 0 0;
  padding: 0 0;
  width: 75%;
  height: 100%;
}